@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Estilos Globais */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, rgba(23, 26, 31, 1), rgb(33, 37, 44));
  background-size: 400% 400%;
  animation: fluidMove 5s ease-in-out infinite;
  font-family: "Nunito Sans", sans-serif;
}

@keyframes fluidMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilos do Container de Cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  width: 90%;
  margin: 0 auto; /* Centraliza o container */
}

/* Estilos do Componente Card */
card-component {
  /* O componente customizado é um elemento inline por padrão,
     torná-lo block ou flex para que as dimensões funcionem */
  display: block;
  width: 200px; /* Largura do card */
  height: auto; /* Altura ajustável */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  background-color: #1e2127; /* Fundo escuro para o card */
  color: white;
}

card-component:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #323743;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.2em;
}

.card-release,
.card-rate {
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: #b0b0b0;
}

.card-rate {
  font-weight: 600;
}

.home-page,
.movies-page,
.tvSeries-page,
.categories-page,
.search-page {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  height: 5rem;
  background: #171a1fe6;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  background: #427ffaff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2rem;
  aspect-ratio: 1 / 1;
  filter: brightness(0.65);
}

.title {
  font-family: Outfit;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
  color: #427ffaff;
  font-family: "Nunito Sans", sans-serif;
}

.buttons-container {
  margin-right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.search {
  display: none;
}

.search-button,
.menu-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(23, 26, 31, 1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(50, 55, 67, 1);
}
.search-button .search-icon,
.menu-button .menu-icon {
  width: 20px;
  height: 20px;
}

.search-button:hover,
.menu-button:hover,
.search-button:hover:active,
.menu-button:hover:active {
  background: rgb(50, 50, 50);
  cursor: pointer;
}

.search-button:disabled,
.menu-button:disabled {
  opacity: 0.4;
}

.popular-title, .more-title {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0 1rem 19rem;
}

.more-title {
  margin: 3rem 0 1rem 19rem;
}

.popular-title::after, .more-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 0.3rem;
  background: linear-gradient(90deg,
    #fc3a3a,
    #08f194,
    #0468f5,
    #ee078e,
    #fc3a3a,
    #fc3a3a
  );
  border-radius: 2px;
  z-index: -1;
}

.popular-container {
  position: relative;
  width: 50%;
  height: 20rem;
  border-radius: 1rem;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.zoom-animation {
  animation: zoom 10s linear forwards;
}

.popular-details {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.details-animation {
  animation: details 1s ease-in;
}

.popular-details h2 {
  font-size: 1.5rem;
  margin: 0;
  -webkit-text-stroke: 0.5px black;
}

.popular-details p {
  font-size: 1rem;
  margin: 0;
}

.loading-spinner {
  width: 1rem;
  height: 1rem;
  border-radius: 100rem;
  border: 5px solid white;
  background-color: blue;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.popular-container::after, .popular-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #fc3a3a,
    #08f194,
    #0468f5,
    #ee078e,
    #fc3a3a,
    #fc3a3a
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 0.3rem;
  border-radius: 1.3rem;
  animation: spin 6s linear infinite;
}

.popular-container::before {
  filter: blur(1.5em);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@keyframes zoom {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 110%;
  }
}

@keyframes details {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .header {
    height: 3rem;
  }

  .title-container {
    margin-left: 0.5rem;
    gap: 0.2rem;
  }

  .icon-container {
    width: 2rem;
    height: 2rem;
  }

  .icon {
    width: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .buttons-container {
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .search-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 0.6rem;
  }

  .search {
    display: block;
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(50, 55, 67, 1);
    background-color: rgba(23, 26, 31, 1);
    outline: none;
    font-size: 1rem;
    color: #b0b0b0;
    padding: 0.1rem 0.5rem;
    position: relative;
    z-index: 2;
  }

  .search:hover {
    background: rgb(50, 50, 50);
  }

  .search-button {
    display: none;
  }
}

@keyframes rgbBorderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
